@model ATAPS.Models.DisplayObject.ClientDisplayObject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.POCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.POCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.POCContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.POCContact)
        </dd>
        <dt><br/></dt><dd><br /></dd>
        <dt>
            Events
        </dt>
        <dd>
            @foreach (var modelItem in Model.Events)
            {
                <p><a href="/EventRecords/Details/@modelItem.ID?filter=@modelItem.ClientID">@modelItem.EventName</a></p>
            }
            <p><a href="/EventRecords/?filter=@Model.Client.ID">See All Events</a></p>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Client.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
