@model List<ATAPS.Models.DisplayObject.ClientDisplayObject>

@{
    ViewBag.Title = "Clients";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Client Name
        </th>
        <th>
            Description
        </th>
        <th>
            POC Name
        </th>
        <th>
            POC Contact
        </th>
        <th>Events</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.POCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.POCContact)
        </td>
        <td>
            @foreach(var modelItem in item.Events)
            {
                <p><a href="/EventRecords/Details/@modelItem.ID?filter=@modelItem.ClientID">@modelItem.EventName</a></p>
            }
            <p><a href="/EventRecords/?filter=@item.Client.ID">See All Events</a></p>

        </td>
        <td>

            @Html.ActionLink("Edit", "Edit", new { id=item.Client.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Client.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Client.ID })
        </td>
    </tr>
}

</table>
