@model ATAPS.Models.DisplayObject.EventDisplayObject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EventRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            <a href="../../Clients/Details/@Model.Client.ID">@Model.Client.ClientName</a>
        </dd>
        <dt><br /></dt>
        <dd><br /></dd>
        <dt>EventDates</dt>
        <dd>
            @foreach(var item in Model.EventDates)
            {
                <p>
                    <a href="../../EventDates/Details/@item.ID?filter=@item.EventRecordsID">@Html.DisplayFor(dateMod => item.EventDate1)</a>
                </p>
            }
            <p><a href="../../EventDates?filter=@Model.Event.ID">See All EventDates</a></p>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event.ID, filter=ViewBag.FilterID }) |
    @Html.ActionLink("Back to List", "Index", new { filter = ViewBag.FilterID })
</p>
