@model IEnumerable<ATAPS.Models.DisplayObject.EventDisplayObject>

@{
    ViewBag.Title = "Index";
}

<h2>Showing Events for: @ViewBag.ClientName</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { filter=ViewBag.FilterID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            EventDates
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventDesc)
        </td>
        <td>
            <a href="/Clients/Details/@item.Event.ClientID">@item.Client.ClientName</a>
        </td>
        <td>
            @foreach (var dateItem in item.EventDates)
            {
                <p>
                    <a href="/EventDates/Details/@dateItem.ID?filter=@dateItem.EventRecordsID">
                        @Html.DisplayFor(dateMod => dateItem.EventDate1)
                    </a>
                </p>
            }
            <p><a href="/EventDates/?filter=@item.Event.ID">See All EventDates</a></p>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Event.ID, filter=ViewBag.FilterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Event.ID, filter = ViewBag.FilterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Event.ID, filter = ViewBag.FilterID })
        </td>
    </tr>
}

</table>
