@model ATAPS.Models.Agenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgendaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendaOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaOrder)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="javascript:window.history.back()">Back to List</a>
        </div>
    }
</div>
