@model ATAPS.Models.Agenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgendaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgendaOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgendaOrder)
        </dd>

    </dl>
</div>
<p>

    <a href="/Agenda/Edit/@Model.ID?filter=@ViewBag.FilterID">Edit</a> |
    <a href="/Agenda/?filter=@ViewBag.FilterID">Back to List</a>

    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
