@model IEnumerable<ATAPS.Models.DisplayObject.AgendaDisplayObject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { filter = ViewBag.FilterID })
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.AgendaName)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AgendaOrder)*@
            Order
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AgendaType)*@
            Type
        </th>
        <th>
            Activities
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Agenda.AgendaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agenda.AgendaOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agenda.AgendaType)
        </td>
        <td>
            @foreach(var activity in item.ActivityList)
            {
                <p>
                    <a href="/Activities/Details/@activity.ID?filter=@activity.AgendaID">
                        @Html.DisplayFor(dateMod => activity.ActivityName)
                    </a>
                </p>
            }

            <p><a href="/Activities/?filter=@item.Agenda.ID">See All Activities</a></p>
        </td>
        <td>

            <a href="/Agenda/Edit/@item.Agenda.ID?filter=@item.Agenda.EventDateID">Edit</a> |

            <a href="/Agenda/Details/@item.Agenda.ID?filter=@item.Agenda.EventDateID">Details</a> |

            <a href="/Agenda/Delete/@item.Agenda.ID?filter=@item.Agenda.EventDateID">Delete</a>

            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
