@model IEnumerable<ATAPS.Models.currentWinner>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.attendeeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.attendeeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.winnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.winnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.winnerID })
        </td>
    </tr>
}

</table>
