@model ATAPS.Models.AttendeeType

@{
    ViewBag.Title = "Attendee Type Details";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Details</h2>

<div>
    <h4>AttendeeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendeeType1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendeeType1)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:window.history.back()">Back to List</a>
</p>
