@model ATAPS.Models.DisplayObject.ActivityDisplayObject
@{
    ViewBag.Title = "ActivityDetails";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>ActivityDetails</h2>

<p>
    <h3>@Model.Activity.ActivityName</h3>
    Current Attendees Checked In: @Model.CheckedInCount
</p>
<table class="table">
    <tr>
        <th>LastName</th>
        <th>FirstName</th>
        <th>ParticipantType</th>
        <th></th>
    </tr>

    @foreach(var att in Model.AttendeeList)
    {
        <tr>
            <td>@att.LastName</td>
            <td>@att.FirstName</td>
            <td>@att.ParticipantType</td>
            <td>
                <a href="/Host/AttendeeDetails/@att.ID">Details</a>
            </td>
        </tr>
    }


</table>
