@model ATAPS.Models.DisplayObject.AgendaDisplayObject

@{
    ViewBag.Title = "Agenda Checkins";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>AgendaCheckins</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agenda.AgendaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda.AgendaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agenda.AgendaOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agenda.AgendaOrder)
        </dd>

    </dl>

    <h5>Activity List</h5>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>Attendee Count</th>
            <th></th>
        </tr>
        @foreach (var atItem in Model.ActivityFullList)
        {
            <tr>
                <td>@atItem.Activity.ActivityName</td>
                <td>@atItem.CheckedInCount</td>
                <td>
                    <a href="/Host/ActivityDetails/@atItem.Activity.ID?filter=@atItem.Agenda.ID">Activity Details</a>
                </td>
            </tr>
        }
       </table>
</div>