@model ATAPS.Models.DisplayObject.AttendeeDisplayObject

@{
    ViewBag.Title = "Attendee Details";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>AttendeeDetails</h2>

<div>
    <h4>AttendeeDisplayObject</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.ParticipantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.ParticipantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.PrimaryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.PrimaryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.ParticipantType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.ParticipantType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.RSVPStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.RSVPStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.AttPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.AttPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.RfID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.RfID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.PhoneticFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.PhoneticFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.PhoneticLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.PhoneticLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.PreferredFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.PreferredFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.PreferredLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.PreferredLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendee.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attendee.ActivityListNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendee.ActivityListNames)
        </dd>
    </dl>
    <hr />
    <dl class="dl-horizontal">
        <h4>Attendee Checkins</h4>
        <table class="table">
            <tr>
                <th>
                    Agenda
                </th>
                <th>
                    Time
                </th>
                <th>
                    Activity
                </th>
                <th>
                    Check In / Out
                </th>
            </tr>
            @foreach (var item in Model.CheckDOList)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(mItem => item.Agenda.AgendaName)
                    </td>
                    <td>
                        @Html.DisplayFor(mItem => item.Check.LastUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(mItem => item.Activity.ActivityName)
                    </td>
                    <td>
                        @Html.DisplayFor(mItem => item.Check.CheckDir)
                    </td>
                </tr>

            }
        </table>



        </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a href="javascript:window.history.back()">Back to List</a>
</p>
