@model IEnumerable<ATAPS.Models.Attendee>

@{
    ViewBag.Title = "BulkCheckin";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>

<h2>Bulk Checkin</h2>

<p>
    <a href="/Registration/Busses">Back to Bus Master</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Search by name or RFID number: @Html.TextBox("SearchString", "")
        <input type="submit" value="Search" />
    </p>
}

@if (ViewBag.searchString != null)
{
    <table class="table" id="attendee-table">
        <thead>
            <tr>
                <th>
                    Last Name
                </th>
                <th>
                    First Name
                </th>

                <th>Thumbnail</th>

                <th>
                    RFID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="attendee-table-body">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td style="text-align:center">
                        <img src="@Html.DisplayFor(modelItem => item.Filename)" alt="None" style="height:50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RfID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        <a href="/Registration/IndivCheckin?id=@item.ID&bus=@Request["id"]">Register</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}