@{
    ViewBag.Title = "IndivCheckin";
}

<h2>Individual Checkin for @ViewBag.attendee.FirstName @ViewBag.attendee.LastName</h2>

<p>
    <a href="/Registration/BulkCheckin">Back to Bulk Checkin</a>
</p>

@if (ViewBag.attendee.ParticipantType != "5")
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a style="position:relative; top:-4px" href="/Registration/AddGiftCard?id=@ViewBag.attendee.ID" class="btn btn-default btn-sm">Add New</a>
            </div>
            <strong>Gift Cards Issued</strong>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Card Number</th>
                        <th>Signature</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.giftcards.Count == 0)
                    {
                        <tr>
                            <td>You have not issued any gift cards for this attendee.</td>
                            <td></td>
                        </tr>
                    }
                    @foreach (var card in ViewBag.giftcards)
                    {
                        <tr>
                            <td>
                                @card.card_number
                            </td>
                            <td>
                                <a target="_new" href="@card.signature_url">View Signature</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="panel panel-success">
    <div class="panel-heading">
        <strong>Activity Waivers</strong>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Waiver Document</th>
                    <th>Signature</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.waivers.Count == 0)
                {
                    <tr>
                        <td>There are no applicable waivers for this attendee.</td>
                        <td></td>
                    </tr>
                }
                @foreach (var waiver in ViewBag.waivers)
                {
                    <tr>
                        <td>
                            <a target="_new" href="@waiver.waiver_url">@waiver.waiver_name</a>
                        </td>
                        <td>
                            @if (waiver.signature_url == null)
                            {
                                <a href="/Registration/SignWaiver?attendee=@ViewBag.attendee.ID&waiver=@waiver.id">Sign Waiver</a>
                            }
                            else
                            {
                                <a target="_new" href="@waiver.signature_url">View Signature</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
