@{
    ViewBag.Title = "Monitor";
}

<h2>Registration Monitor</h2>

<p><a href="/">Back to Home</a></p>

<table id="MonitorItems" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>RFID</th>
            <th>Thumbnail</th>
            <th>Mobile</th>
            <th>Activity List</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>RFID</th>
            <th>Thumbnail</th>
            <th>Mobile</th>
            <th>Activity List</th>
            <th>Action</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in ViewBag.MonitorItems)
        {
             <tr>
                <td>@item.name</td>
                <td>@item.rfid</td>
                <td>@item.thumbnail</td>
                <td>@item.mobile</td>
                <td>@item.activity_list</td>
                <td>@item.msg</td>
            </tr>
        }
    </tbody>
</table>

<script language="Javascript">

    //ega is there a better way to know when the scripts have finished loading?  check for jquery, then include datatables and then check for when that finishes loading

    setTimeout(function () {
        jQuery("body").append ("<link rel=\"stylesheet\" type=\"text/css\" href=\"http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css\" /><" + "script src=\"http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js\"></" + "script>");
        setTimeout(function () {
            jQuery('#MonitorItems').DataTable();
        }, 1000);
    }, 1000);

</script>
