@{
    ViewBag.Title = "Monitor";
}

<h2>Registration Monitor</h2>

<p><a href="/">Back to Home</a></p>

<p><a href="/Registration/Monitor/">Refresh</a></p>

<p>
    <strong>Show attendees for bus:</strong> 
    <select id="BusSelect" name="BusSelect">
        <option value="-1">All buses</option>
        @foreach (var activity in ViewBag.activities)
        {
            <option value="@activity.ID">@activity.ActivityName</option>
        }
    </select>
</p>

<div id="MonitorItemsContainer">
<table id="MonitorItems" class="display" style="width:100%; display:none">
    <thead>
        <tr>
            <th>Name</th>
            @*
                <th>RFID</th>
            *@
            <th>Thumbnail</th>
            <th>Mobile</th>
            <th>Activity List</th>
            <th>Message</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            @*
                <th>RFID</th>
            *@
            <th>Thumbnail</th>
            <th>Mobile</th>
            <th>Activity List</th>
            <th>Message</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in ViewBag.MonitorItems)
        {
            <tr>
                <td>@item.name</td>
                @*
                    <td>
                        @if (item.rfid == null || item.rfid == "")
                        {
                            <a href="/Registration/AssignRfid?id=@item.id">Assign RfID</a>
                        }
                        else
                        {
                            <text>@item.rfid</text>
                        }
                    </td>
                *@
                <td>
                    @if (item.thumbnail != null && item.thumbnail != "")
                    {
                        <text><img src="@item.thumbnail" height="50" /></text>
                    }
                </td>
                <td>@item.mobile</td>
                <td>@item.activity_list</td>
                <td>@Html.Raw(item.msg)</td>
            </tr>
        }
    </tbody>
</table>
</div>

<script language="Javascript">

    setTimeout(function () {

        // include datatables
        jQuery("body").append("<link rel=\"stylesheet\" type=\"text/css\" href=\"http://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css\" /><" + "script src=\"http://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js\"></" + "script>");

        // turn the table into a datatable
        setTimeout(function () {
            var bus = readCookie("BusSelect");
            var order = [[4, "asc"]];
            var stateSave = false;
            if (bus == null || bus == "-1" || bus == "") {
                order = [[0, "asc"]];
                stateSave = true;
            }
            jQuery('#MonitorItems').DataTable({
                order: order,
                stateSave: stateSave
            });
            jQuery('#MonitorItems').show();
        }, 1000);

        // refresh every 10 sec
        function DoRefresh ()
        {
            jQuery.ajax("/Registration/Monitor").done(function (data) {
                data = data.substr(data.indexOf("<table"));
                data = data.substr(0, data.indexOf("</table>") + 8);
                jQuery("#MonitorItemsContainer").empty();
                jQuery("#MonitorItemsContainer").html(data);
                var bus = readCookie("BusSelect");
                var order = [[4, "asc"]];
                var stateSave = false;
                if (bus == null || bus == "-1" || bus == "") {
                    order = [[0, "asc"]];
                    stateSave = true;
                }
                jQuery('#MonitorItems').DataTable({
                    order: order,
                    stateSave: stateSave
                });
                jQuery('#MonitorItems').show();
                setTimeout(DoRefresh, 10000);
            });
        }
        var bus = readCookie("BusSelect");
        if (bus != null && bus != "-1" && bus != "")
        {
            setTimeout(DoRefresh, 10000);
        }

        // pre-populate the bus selector
        if (bus != null && bus != "-1" && bus != "")
        {
            jQuery("#BusSelect option[value='" + bus + "']").prop("selected", true);
        }

        // code for when the bus selector option changes
        jQuery("#BusSelect").on("change", function () {
            var bus = jQuery("select[name=BusSelect]").val();
            createCookie("BusSelect", bus, 7);
            jQuery("#BusSelect").after(" Refreshing, please wait...");
            window.location = "/Registration/Monitor";
        });

    }, 1000);

    function createCookie(name, value, days)
    {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name)
    {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name)
    {
        createCookie(name, "", -1);
    }

</script>