@model ATAPS.Models.Attendee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParticipantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParticipantType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RSVPStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RSVPStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RfID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RfID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneticFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneticFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneticLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneticLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityListNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityListNames)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@

    <a href="/Attendees/Edit/@Model.ID?filter=@ViewBag.FilterID">Edit</a> |
    <a href="/Attendees/?filter=@ViewBag.FilterID">Back to List</a>

</p>
