@model IEnumerable<ATAPS.Models.Attendee>

@{
    ViewBag.Title = "Scan Attendees";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Scan Attendees</h2>

<p>
    <a href="/winners">Back to Winner's Parade</a>
</p>

<p>
    @Html.ActionLink("Reset Queue Order", "QuickResetOrder", new { filter = ViewBag.FilterID })
</p>

@if (ViewBag.LastSort != "" && ViewBag.LastSort != null)
{
    <div id="ScanConf" class="alert alert-success"></div>
}

@using (Html.BeginForm())
{
    <p>
        Queue by name or RFID number: @Html.TextBox("SearchString", "")
        <input type="submit" value="Queue" id="submit-queue" />
    </p>
}

<table class="table" id="attendee-table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>

            <th>Thumbnail</th>

            <th>
                Queue Order
            </th>
            <th>
                RSVP Status
            </th>
            <th>
                RFID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="attendee-table-body">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td style="text-align:center">
                    <img src="@Html.DisplayFor(modelItem => item.Filename)" alt="None" style="height:50px" />
                </td>
                <td>
                    @if (item.WinnerQueueOrder != null)
                    {
                        <text>@item.WinnerQueueOrder</text>
                    }
                    else
                    {
                        <text>Not in Queue</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RSVPStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RfID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    <a href="javascript:DoQueue(@item.ID,@ViewBag.FilterID,'@item.WinnerQueueOrder')">Queue</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script language="Javascript">
    function DoQueue (id, filter, wqo)
    {
        // check existing queue order
        if (wqo != "")
        {
            // if already in queue, make sure they intend to re-queue them
            if (!confirm ("Are you sure you want to re-queue this person?"))
            {
                return;
            }
        }

        // issue queue request
        var url = "/Attendees/QuickQueue/" + id + "?filter=" + filter;
        window.location = url;
    }
</script>

<script language="Javascript">
    $(document).ready(function () {
        var str = "@ViewBag.LastSort";

        // if it is a confirmation request because the attendee is being re-queued
        if (str.indexOf("conf,") == 0)
        {
            // init
            var vals = str.split(",");
            var imgref = "<img src=\"" + vals[3] + "\" style=\"height:50px\">";
            var url = "javascript:ConfirmRequeue()";

            // create a hiden form
            var form = "<form id=\"ConfirmForm\" action=\"/Attendees/Scan?filter=" + vals[1] + "\" method=\"post\">";
            form += "<input name=\"SearchString\" type=\"hidden\" value=\"" + vals[2] + "\" />";
            form += "<input name=\"Confirmed\" value=\"yes\" type=\"hidden\" />";
            form += "</form>";
            $(form).insertAfter("#ScanConf");
 
            // make the alert box red and show the request
            $("#ScanConf").removeClass("alert-success").addClass("alert-danger");
            $("#ScanConf").html("<strong>Confirm:</strong> <a href=\"" + url + "\">Click here if you are sure you want to re-queue this person:</a> " + imgref);
        }
        else
        {
            // simply show confirmation message
            $("#ScanConf").html("<strong>Success!</strong> " + str);
        }
    });

    function ConfirmRequeue ()
    {
        $("#ConfirmForm").submit();
    }
</script>