@model IEnumerable<ATAPS.Models.Attendee>

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
}

<h2>Scan Attendees</h2>

<p>
    <a href="/winners">Back to Winner's Parade</a>
</p>

<p>
    @Html.ActionLink("Reset Queue Order", "QuickResetOrder", new { filter = ViewBag.FilterID })
</p>

@if (ViewBag.LastSort != "" && ViewBag.LastSort != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.LastSort
    </div>
}

@using (Html.BeginForm())
{
    <p>
        Queue by name or RFID number: @Html.TextBox("SearchString", "")
        <input type="submit" value="Queue" id="submit-queue" />
    </p>
}

@if (Request["SearchString"] != "" && Request["SearchString"] != null)
{

<table class="table" id="attendee-table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>

            <th>Thumbnail</th>

            <th>
                Queue Order
            </th>
            <th>
                RSVP Status
            </th>
            <th>
                RFID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="attendee-table-body">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td style="text-align:center">
                    <img src="@Html.DisplayFor(modelItem => item.Filename)" alt="None" style="height:50px" />
                </td>
                <td>
                    @if (item.WinnerQueueOrder != null)
                    {
                        <text>@item.WinnerQueueOrder</text>
                    }
                    else
                    {
                        <text>Not in Queue</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RSVPStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RfID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.ActionLink("Queue", "QuickQueue", new { id = item.ID, filter = ViewBag.FilterID })
                </td>
            </tr>
        }
    </tbody>
</table>

}