@model IEnumerable<ATAPS.Models.DisplayObject.EventDateDisplayObject>

@{
    ViewBag.Title = "Index";
}

<h2>All EventDates for: @ViewBag.EventName</h2>
<h4><a href="../Attendees?filter=@ViewBag.EventID">Attendees For this event:  @ViewBag.AttendeeCount</a></h4>
<h4><a href="../AttendeeTypes?filter=@ViewBag.EventID">Attendee Types for this event</a></h4>

<p>
    @Html.ActionLink("Create New", "Create", new { filter = ViewBag.FilterID })
</p>

<table class="table">
    <tr>
        <th>
            Event Name
        </th>
        <th>
            Date
        </th>
        <th>
            Agendas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="../EventRecords/Details/@item.EventDate.EventRecordsID?filter=@item.Event.ID">@item.Event.EventName</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate.EventDate1)
        </td>
        <td>
            @foreach (var agenda in item.Agendas)
            {
                <p>
                    <a href="../Agenda/Details/@agenda.ID?filter=@agenda.EventDateID">
                        @Html.DisplayFor(dateMod => agenda.AgendaName)
                    </a>
                </p>
            }

            <p><a href="../Agenda/?filter=@item.EventDate.ID">See All Agendas</a></p>

        </td>
        <td>
                <a href="/EventDates/Edit/@item.EventDate.ID?filter=@item.Event.ID">Edit</a> | 
            
                <a href="/EventDates/Details/@item.EventDate.ID?filter=@item.Event.ID">Details</a> | 
            
                <a href="/EventDates/Delete/@item.EventDate.ID?filter=@item.Event.ID">Delete</a>
            
            @*@Html.ActionLink("Edit", "Edit", new { id=item.EventDate.ID }) |
            @Html.ActionLink("Details", "Details", new { id= item.EventDate.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventDate.ID })*@
        </td>
    </tr>
}
</table>
<div>
    <p>
        <a href="../EventRecords?filter=@ViewBag.FilterID">Back to Events List</a>
    </p>
</div>