@model ATAPS.Models.dbCheckIn

@{
    ViewBag.Title = "Checkin Details";
}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="/Scripts/breadcrumbs.js"></script>
<div id="breadcrumbs"></div>
<script language="Javascript">
    $("#breadcrumbs").breadcrumbs();
</script>

<h2>Details</h2>

<div>
    <h4>dbCheckIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.partID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chrDirection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chrDirection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stopNmbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stopNmbr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rideID }) |
    <a href="javascript:window.history.back()">Back to List</a>
</p>
