@model IEnumerable<ATAPS.Models.dbCheckIn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chrDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stopNmbr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chrDirection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stopNmbr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rideID }) |
            @Html.ActionLink("Details", "Details", new { id=item.rideID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rideID })
        </td>
    </tr>
}

</table>
